*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('sahara.jpg');
}
.nav{
    color: white;
}
ul{
    float: right;
}
li{
    display: inline-block;
    list-style: none;
    color: white;
    padding: 2rem 3rem;
}
a{
    text-decoration: none;
    color: white;
}
.leftcontainer{
    padding: 1rem;
    position: relative;
    top: 13rem;
    box-sizing: border-box;
    width: 36rem;

}
h1{
    font-size: 3rem;
    color:white;
    text-align: center;

}
p{
    color:white;
    /* font-size: 5px; */
    font-weight: lighter;
}
button{
    border-radius: 30px;
    background: white;
    width: 8rem;
    margin-top: 2rem;
    border: none;
}
.rightcontainer{
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    float: right
}
.box{
    width: 200px;
    height: 200px;
    margin: 20px;
    /* flex: 1 1 50%; */
    box-sizing: border-box;
    border-radius: 9px;
    text-align: center;
    padding-top: 1rem;
    transition: 0.5s;
    cursor: pointer;
}
.box:hover{
    transform: translateY(-10px);}
#box1{
    background-image: url('images.jpeg');
    background-size: cover;
}
#box2{
    background-image: url('pic-2.png');
    background-size: cover;
}
#box3{
    background-image: url('pic-3.png');
    background-size: cover;
}
#box4{
    background-image: url('pic-4.png');
    background-size: cover;
}
@media (max-width:480px){
.box{
    width: 70%;
    position: relative;
    bottom: -15rem;
    left: 16rem;
    background-repeat: round;
}
li{
    padding: 1rem 1rem;
}
}